In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
all_ny_data = pd.read_csv("/Users/mike/Desktop/551 Visualize II/project/arcos-ny-statewide-itemized.csv",  usecols = ['BUYER_COUNTY','TRANSACTION_DATE','CALC_BASE_WT_IN_GM','QUANTITY','DRUG_NAME'])
all_ca_data = pd.read_csv("/Users/mike/Desktop/551 Visualize II/project/arcos-ca-statewide-california.csv",  usecols = ['BUYER_COUNTY','TRANSACTION_DATE','CALC_BASE_WT_IN_GM','QUANTITY','DRUG_NAME'])
both_data = [all_ny_data, all_ca_data]
both_data = pd.concat(both_data)
both_data

,BUYER_COUNTY,DRUG_NAME,QUANTITY,TRANSACTION_DATE,CALC_BASE_WT_IN_GM
0,OSWEGO,HYDROCODONE,4.0,10232006,2.42160
1,OSWEGO,HYDROCODONE,2.0,10062006,4.54050
2,OSWEGO,HYDROCODONE,2.0,3162007,0.90810
3,OSWEGO,HYDROCODONE,2.0,5182007,0.90810
4,OSWEGO,HYDROCODONE,5.0,8242007,3.02700
...,...,...,...,...,...
18089970,SOLANO,HYDROCODONE,4.0,12142010,6.05400
18089971,LOS ANGELES,HYDROCODONE,1.0,9142011,3.02700
18089972,LOS ANGELES,HYDROCODONE,1.0,11282011,3.02700
18089973,KERN,HYDROCODONE,1.0,2162011,2.27025
18089974,SAN DIEGO,HYDROCODONE,2.0,3122009,3.02700

In [3]:
both_data.dtypes
both_data['TRANSACTION_DATE'] = both_data['TRANSACTION_DATE'].astype(str)
both_data['Year'] = both_data['TRANSACTION_DATE'].str[-4:]
print(both_data['Year'])
both_data['Year'] = both_data['Year'].astype(int)

0           2006
1           2006
2           2007
3           2007
4           2007
            ...
18089970    2010
18089971    2011
18089972    2011
18089973    2011
18089974    2009
Name: Year, Length: 29492068, dtype: object

In [6]:
death_Data = pd.read_excel (r'/Users/mike/Desktop/551 Visualize II/project/year state county death.xlsx')
death_Data["BUYER_COUNTY"] = death_Data["BUYER_COUNTY"].str.upper()
death_Data["BUYER_COUNTY"]=death_Data["BUYER_COUNTY"].str.slice(0, -11)
#death_Data["BUYER_COUNTY"] = death_Data["BUYER_COUNTY"].str.upper()
#print (death_Data)
death_Data.dtypes

Year                        int64
State                      object
BUYER_COUNTY               object
Model-based Death Rate    float64
dtype: object

In [7]:
real_data = pd.merge(both_data, death_Data, on=['BUYER_COUNTY', 'Year'], how='left')

In [8]:
real_data.to_csv(r'/Users/mike/Desktop/551 Visualize II/project/real_data.csv')